{% extends 'base.html' %}

{% block header %}
<script>
    function updateQtyFn(qty, cid, uid){
            $.ajax({
                url: '{% url "updateqty" %}',
                type: 'POST',
                data: {qty: parseInt(qty), cid: parseInt(cid), userId: parseInt(uid), "csrfmiddlewaretoken" : "{{csrf_token}}"},
                traditional: true,
                dataType: 'html',
                success: function(s){
                    window.location.reload()
                }
            })
    }
</script>
{% endblock %}
{% block style %}
<style>
.containerCart{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}
.itemC{
    width: 45%;
    display: grid;
    grid-template-columns: 5fr 8fr 1fr;
    flex-direction: row;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px #dadada, -3px -3px 4px #eaeaea;
}
.itemC > img{
    border-radius: 20px;
    padding: 5px;
}
.pQty{
    border: none;
    border-bottom: .5px solid #222;
    max-width: 35px;
    text-align: center;
}
.pQty:focus{
    outline: none;
}
.deleteIcon:hover{
    color: white;
}
.deleteIcon{
    margin: 10px 0;
    width: 30px;
    height: 30px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 5px;
}
.checkOutBtn{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
</style>

{% endblock %}


{% block body %}
{% if cartlength > 0 %}
<div class="checkOutBtn">
    <h3 style="margin: 20px 0; text-align: center;">Cart Items | Total Amount: &#x20B9; {% if totalAmount %}{{totalAmount}}{% endif %}</h3>
    <a href="/checkout">Check Out</a>
</div>
{% else %}
<h3 style="margin: 100px 0; text-align: center;">No Items in the Cart</h3>
{% endif %} 
<div class="containerCart">
    {% for item in cart %}
    <div class="itemC">
        <img src="{{item.productImage.url}}" height="200" width="200" />
        <div style="padding: 10px ;">
            <h6>{{item.productName}}</h6>
            <p style="margin: 10px 0;">Price:  &#x20B9; {{item.productPrize}}</p>
            <div>Qty: <input class="pQty" value={{item.qty}} onblur="updateQtyFn(this.value, '{{item.id}}', '{{item.userId}}' )" placeholder="quantity" /></div>
        </div>
        <a href="deletecartitem/{{item.id}}" class="deleteIcon"><i style="font-size: 15px;" class="fas fa-trash-alt"></i></a>
    </div>
    {% endfor%}
</div>
{% endblock %}