{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {{ register_form.errors }}

    <div class="formContainer">
        <div class="loginForm" id="lf" >
            {{ register_form.non_field_errors }}
            <form action="/login" method="post" >
                {% csrf_token %}
                <input name="email" type="email" id="form3Example3c" class="form-control"  placeholder="Your Email"/>
                <input name="password" type="password" id="form3Example4c" class="form-control" placeholder="Password" />
                <button type="submit" name="login_btn" class="btn btn-primary btn-lg msx-2">Login</button>
                <p>Don't have an account ! <span onclick="hideLogin()" style="color: red; cursor: pointer;">Register</span></p>
            </form>
        </div>
        <div class="signupForm" id="sf" style="display: none;"  >
            <form action="/login" method="post" >
                {% csrf_token %}
                {% for field in register_form %}
                    {{ field }}
                    {{ field.errors.as_ul }}
                {% endfor %}
                <button type="submit" name="register_btn" class="btn btn-primary btn-lg msx-2">Register</button>
                <p>Already have an account ! <span onclick="hideSignup()" style="color: red; cursor: pointer;">Login</span></p>
            </form>
        </div>
        
    </div>

    <script>
      function hideLogin(){
        document.getElementById('lf').style.display = 'none'
        document.getElementById('sf').style.display = 'block'
      }
      function hideSignup(){
        document.getElementById('sf').style.display = 'none'
        document.getElementById('lf').style.display = 'block'
      }
    </script>

</body>
</html>